# git
.gitignore

# Babel
.babelrc

# Rollup
rollup.config.mjs

# Code of Conduct
CODE_OF_CONDUCT.md

# Travis CI
.travis.yml

# tests
/test/
/.tap/

# test coverage folder
/coverage/
/.nyc_output/

# npm errors
npm-debug.log

# github pages
/gh-pages/

# workspace files are user-specific
*.sublime-workspace

# bundle folder is just used to run it in a basic demo page
/bundle/*.html
/bundle/lib/

# website files
/website/

# build-time scripts
/build-scripts/

# `tap` test data
/.tap/

# `vitest` test data
/.vitest-attachments/

# sources
/src/

# GitLab
.gitlab-ci.yml

# Build TypeScript configuration
tsconfig.json
tsconfig.build.json

# `vitest` config
vitest.config.json